.home-header{
    height:740px;

    background-position: center center;
    background-size: cover;
    
}

.products-header{
    height: 450px;
    background-position: center center;
    background-size: cover;
}

.favorite-header{
    height: 440px;
    background-position: center center;
    background-size: cover;
}
