.home-header{
    height:810px;

    background-position: center center;
    background-size: cover;
    
}

.products-header{
    height: 500px;

    background-position: center center;
    background-size: cover;
}
