.home-header{
    height:740px;

    background-position: center center;
    background-size: cover;
    
}

.products-header{
    height: 425px;

    background-position: center center;
    background-size: cover;
}
