.object-fit-cover{
    object-fit: cover;
}

.height-s5{
    height: 810px;
}
.event{
    height: 514px;
    height: 306px;
}
.noHover{
    pointer-events: none;
}

.cardProducts:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.text-wrapper {
    white-space: pre-wrap;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
  }